.featured-jobs {
   background-color: var(--color-light-grey);
   padding: 12rem 0;
}
.featured-jobs-content {
   display: grid;
   grid-template-columns: 1fr 1fr;
   gap: 4rem;
   margin-top: 6rem;
   margin-bottom: 6rem;
}
