.header {
   padding: 2rem 0;
   background-color: var(--color-light-grey);
}

.header__content {
   display: flex;
   justify-content: space-between;
   align-items: center;
}

.header__logo {
   font-size: 38px;
   font-weight: 800;
}
.header__nav {
}

.header__nav a:link,
.header__nav a:focus,
.header__nav a:active {
   text-decoration: none;
   font-size: 1.8rem;
   padding: 0 1.8rem;
   color: var(--color-primary);
   transition: all 0.2s;
}

.header__nav a:hover {
   color: var(--color-secondary);
}
