:root {
   --color-primary: #2c3e50;
   --color-secondary: #3498db;
   --color-white: #ffffff;

   --color-dark-grey: #ecf0f1;
   --color-light-grey: #f9fbfb;

   --primary-heading: var(--color-primary);
   --secondary-heading: var(--color-secondary);

   --btn-primary: #3498db;
   --btn-primary-hover: #1f83c6;

   --dark-1: #1a1919;
   --dark-2: #474747;
   --dark-3: #757575;
   --dark-4: #a3a3a3;
   --dark-5: #d1d1d1;
   --dark-6: #e8e8e8;
   --dark-7: #f4f4f4;
}

*,
*::after,
*::before {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

html {
   font-size: 10px;
}

body {
   font-family: "Manrope", sans-serif;
}

.container {
   width: 1320px;
   max-width: 90%;
   margin: 0 auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
   color: var(--primary-heading);
}
p {
   color: var(--dark-3);
   font-weight: 300;
   font-size: 1.8rem;
   line-height: 3rem;
}
.secondary-heading-color {
   color: var(--secondary-heading);
}

.secondary-heading h2 {
   text-align: center;
   font-size: 4.8rem;
   font-weight: 800;
   margin-bottom: 1.6rem;
}

.secondary-heading p {
   text-align: center;
   font-size: 1.6rem;
   color: var(--dark-3);
   font-weight: 500;
}

.btn {
   font-weight: 500;
   border: none;
   cursor: pointer;
   transition: all 0.3s;
}

.btn-large {
   padding: 2rem 2.8rem;
   font-size: 2.2rem;
   border-radius: 8px;
}

.btn-medium {
   padding: 1.6rem 2.2rem;
   font-size: 1.8rem;
   border-radius: 8px;
}

.btn-outline {
   padding: 1rem 1.2rem;
   border-radius: 4px;
   font-size: 1.4rem;
   font-weight: 800;
}
.btn-primary-outline {
   background-color: var(--color-white);
   color: var(--btn-primary);
   border: 1px solid var(--btn-primary);
}

.btn-primary {
   background-color: var(--btn-primary);
   color: var(--color-white);
}
.btn-primary:hover {
   background-color: var(--btn-primary-hover);
}

h1 {
   font-size: 8rem;
   line-height: 100px;
}
h2 {
}
h3 {
   font-size: 2rem;
   font-weight: 900;
   margin-bottom: 0.8rem;
}
